<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>첫 웹 서버 프로젝트</title>
</head>
<body>
	<!-- HTML내에 주석처리 -->
	<p> 첫 웹 서버 프로젝트를 생성하고 북마크 어플리케이션을 만듦 </p>
	{# 파이썬 코드로 주석을 기입함 #}
	{# 변수/함수반환값을 출력할 때는 중괄호 두개 '{{}}' 를 사용 if, for 사용 시 '{%%}' 를 사용      #}
	
	{# for, if 문 사용 시 endfor, endif를 적어서 영역을 지정해야 함. 뷰에서 넘겨준 사전형은 키값을 변수처럼 사용할 수 있음 #}
	{# HTLM 내에서 함수 호출 시 소괄호 입력 X. 때문에 매개변수가 필요한 함수는 사용할 수 없음 #}
	<p> a변수안에 들어있는 값 : {{ a }} </p>
	<ul>
		{% for i in b %}
			<li>{{i}} </li>
		{% endfor %}
	</ul>
	<a href="http://127.0.0.1:8000/booklist/">북마크 리스트 보기</a>
</body>
</html>







